
.user-name {
  display: flex;
  justify-content: left;
  font-size: x-large;
}
.user-description {
  text-align: left;
}

.visited-places {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  
}

.img-place {
  flex: 0 0 26%;
  margin-top: 15px;
}

.entry-container {
  position: relative;
}

.entry-events {
  
}

.delete-button {
  margin: 50px;
}
